body{
    background-image: url(fondoreseñas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
h1{
    color:beige;
    text-align: center; 
    
}
.encuesta {
    font-size: larger;
    text-align: center;
    color: darkolivegreen;
     
}
    
  