body{
    background-image: url(fondorutinaspremium.jpg);
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.text{
    text-align: center;
    color:aliceblue
}
.table{
    border-collapse:collapse;
width: 80%;
}
td th {
    
}