body{
    background-image: url(fondorutinaspremium.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.text{
    text-align: center;
    color:aliceblue;
    font-size: xx-large;
    
    
}
.table{
    border-collapse:collapse;
width: 80%;
position: relative;
margin-left: 1000px;
}
td th {
    
}