body {
    background-image: url(fondorutinaspremium.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.text {
    text-align: center;
    color:blanchedalmond;
    font-size: x-large;
}

.table {
    width: 100%;
    background-color: aliceblue;
    position: relative;
    top: 125px;
    
    
   
    
    
}



