body {
    background-image: url(fondorutinasgratuitas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.text {
    text-align: center;
    font-size: xx-large;
    color: aliceblue;
    font-style: oblique;

}

.iframe {
    width: 425px;
    height: 215px;
    margin-left: 600px;

}

.text2 {
    font-size: x-large;
    position: relative;
    margin-left: 80px;
    color: aliceblue;
    font-style:oblique

}
.videos{
    margin-right:px;
   
    
}